$PrimaryNavFont: 21px/48px "HUGEAvantGardeBold", sans-serif;
$SecondaryNavFont: 16px/48px "Galaxie", sans-serif;
$HeadlineFont: 120px/132px "HUGEAvantGardeBold", sans-serif;
$HeadlineFontMobile: 44px/48px "HUGEAvantGardeBold", sans-serif;
$BodyFont: 24px/36px "Galaxie", sans-serif;
$BodyFontMobile: 14px/24px "Galaxie", sans-serif;
$CopyrightFont: 12px/16px "Helvetica Neue", sans-serif;

$magenta: #ec008c;
$lightGray: #eee;
$translucentBlack: rgba(0, 0, 0, 0.5);